<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="../Resources/admin-dashboard.css">
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link
         href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet">
     <!-- Box Icon  -->
     <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   <!-- Ionicons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    <div class="main">
        <section class="section-dashboard grid">
            <div class="dashboard-left">
                <h1>Admin</h1>
                <div class="logo-section">
                    <img src="../Images/Logo.png" alt="">
                </div>

                <div class="left-wrapper flex"> <!--Left Wrapper 1-->
                    <i class='bx bx-x wrong-btn'></i>
                    <p>Dashboard</p>
                </div>
                <div class="left-wrapper flex"> <!--Left Wrapper 2-->
                    <i class='bx bx-x wrong-btn'></i>
                    <p>Job Category</p>
                </div>
                <div class="left-wrapper flex"> <!--Left Wrapper 3-->
                    <i class='bx bx-x wrong-btn'></i>
                    <p>Reg JobSeekers</p>
                </div>
                <div class="left-wrapper flex"> <!--Left Wrapper 4-->
                    <i class='bx bx-x wrong-btn'></i>
                    <p>Pages</p>
                </div>
            </div>
            <div class="dashboard-right">
                <nav class="navbar-dashboard">
                </nav>
            </div>
        </section>
    </div>
</body>
</html>